.homeMainPicContainer {
    width: 100%;
    position: relative;
}

.homeMainPic {
    max-width: 100%;
}

.homeMainPicText {
    position: absolute;
    width: 100%;
    padding: 0.5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0.3);
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.galleryCirclesContainer {
    display: flex;
    column-gap: 1vw;
    position: absolute;
    left: 3vw;
    bottom: 2vh;
}

.galleryCircle {
    width: 2.5vw;
    height: 2.5vw;
    color: rgb(255, 255, 255, 1);
    border-radius: 50%;
}